<h1>Listing podcasts</h1>

  <% @podcasts.each.with_index do |podcast,index| %>

    <div class="feed">
      <img src="<%= podcast.image %>" width="60" height="60" />
      <h2><%= podcast.name %> <%= link_to 'Edit', edit_podcast_path(podcast), :style => "font-size: 12px; font-weight: normal; color: #999; text-decoration: none;" %></h2>
      <p><%= podcast.description %></p>
      <p>
        <% unless podcast.url_web.blank? %><a href="<%= podcast.url_web %>">Website</a><% end %>
        <% unless podcast.url_rss.blank? %><a href="<%= podcast.url_rss %>">RSS</a><% end %>
        <% unless podcast.url_itunes.blank? %><a href="<%= podcast.url_itunes %>">iTunes</a><% end %>
      </p>
    </div> <!-- end: .feed -->

    <%#= link_to 'Show', podcast %>
    <%#= link_to 'Edit', edit_podcast_path(podcast) %>
    <%#= link_to 'Delete', podcast, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>


<%= link_to 'New Podcast', new_podcast_path %>
