<div class="wrapper">

<p id="notice"><%= notice %></p>

<p><a href="<%= podcasts_path %>">&laquo; view all podcasts</a></p>

<div class="feed">
  <img src="<%= @podcast.image %>" width="60" height="60" />
  <h2><%= @podcast.name %> <%= link_to 'Edit', edit_podcast_path(@podcast), :style => "font-size: 12px; font-weight: normal; color: #999; text-decoration: none;" %></h2>
  <p><%= @podcast.description %></p>
  <p>
    <% unless @podcast.url_web.blank? %><a href="<%= @podcast.url_web %>">Website</a><% end %>
    <% unless @podcast.url_rss.blank? %><a href="<%= @podcast.url_rss %>">RSS</a><% end %>
    <% unless @podcast.url_itunes.blank? %><a href="<%= @podcast.url_itunes %>">iTunes</a><% end %>
  </p>
</div>

<% @entries.each do |entry| %>
  <p>
    <span style="color: #aaa; font-size: 12px;"><%= entry.published.strftime("%b %e %y, %l:%M %p") %></span><br />
    <strong><%= entry.title %></strong><br />
    <% unless entry.itunes_subtitle.blank? %><%= entry.itunes_subtitle %><br /><% end %>
    <a href="<%= entry.enclosure_url %>">Listen</a> | <a href="<%= entry.url %>">Webpage</a>
  </p>
<% end %>


<%= link_to 'Edit', edit_podcast_path(@podcast) %> |
<%= link_to 'Back', podcasts_path %>

</div> <!-- end: .wrapper -->